In [1]:
import pandas as pd
import numpy as np

In [2]:
s1 = pd.Series(['a', 'b', 'c'])
print(s1)

0    a
1    b
2    c
dtype: object

In [3]:
s2 = pd.Series(data=['a', 'b', 'c'], index=[1, 2, 3])
print(s2)

1    a
2    b
3    c
dtype: object

In [4]:
s3 = pd.Series([1,2,3],['a','b','c'])
print(s3)

a    1
b    2
c    3
dtype: int64

In [5]:
s4 = pd.Series({'a':1,'b':2.5,'c':5.9,'d':6})
print(s4)

a    1.0
b    2.5
c    5.9
d    6.0
dtype: float64

In [6]:
arr = np.array([1, 4, 6, 7])
s5 = pd.Series(arr)
s5

0    1
1    4
2    6
3    7
dtype: int64

In [7]:
arr2 = np.array([[1, 4, 6, 7],[3, 7, 9, 10]])
s6 = pd.Series(arr2[1])
s6

0     3
1     7
2     9
3    10
dtype: int64

In [8]:
s6.values

array([ 3,  7,  9, 10])

In [9]:
s6.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [11]:
data['a']

0.25

In [12]:
data[0]

/tmp/ipykernel_24176/1743741225.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data[0]

0.25

In [13]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [14]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [15]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [16]:
# Masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [17]:
a = pd.Series([2,5,4,1,7,8], index=['a','b','c','d','e','f'])
b = pd.Series([12,55,24,2,1,3], index=['a','b','c','d','e','f'])

In [18]:
a

a    2
b    5
c    4
d    1
e    7
f    8
dtype: int64

In [19]:
b

a    12
b    55
c    24
d     2
e     1
f     3
dtype: int64

In [20]:
a + b

a    14
b    60
c    28
d     3
e     8
f    11
dtype: int64

In [21]:
b - a

a    10
b    50
c    20
d     1
e    -6
f    -5
dtype: int64

In [22]:
table = pd.read_csv('marks.csv', encoding='windows-1251', sep=';')
print(table)

          Фамилия      Имя  Математика  Русский язык  Иностранный язык
0    Абапольников    Роман           4             2                 2
1         Абрамов   Кирилл           3             5                 1
2         Авдонин  Николай           3             3                 3
3       Аверьянов   Никита           5             1                 1
4        Аветисян   Даниил           5             1                 4
..            ...      ...         ...           ...               ...
995      Яковенко     Иван           2             1                 1
996       Якунина     Юлия           5             2                 2
997      Янушевич   Леонид           1             5                 5
998    Ярославцев   Сергей           3             3                 3
999          Яшин   Андрей           4             3                 3

[1000 rows x 5 columns]

In [23]:
table

          Фамилия      Имя  Математика  Русский язык  Иностранный язык
0    Абапольников    Роман           4             2                 2
1         Абрамов   Кирилл           3             5                 1
2         Авдонин  Николай           3             3                 3
3       Аверьянов   Никита           5             1                 1
4        Аветисян   Даниил           5             1                 4
..            ...      ...         ...           ...               ...
995      Яковенко     Иван           2             1                 1
996       Якунина     Юлия           5             2                 2
997      Янушевич   Леонид           1             5                 5
998    Ярославцев   Сергей           3             3                 3
999          Яшин   Андрей           4             3                 3

[1000 rows x 5 columns]

In [24]:
html_data = pd.read_html('https://en.wikipedia.org/wiki/World_population', match='World population milestones in billions')

In [25]:
len(html_data)

1

In [26]:
html_data

[      Population         1     2     3     4     5     6     7     8     9  \
 0           Year      1804  1927  1960  1974  1987  1999  2011  2022  2037
 1  Years elapsed  200,000+   123    33    14    13    12    12    11    15

      10
 0  2057
 1    20  ]

In [27]:
type(html_data)

list

In [28]:
df = pd.DataFrame(data=[[1,2],['a','b'],[3.7, 4.8]])
df

     0    1
0    1    2
1    a    b
2  3.7  4.8

In [29]:
df1 = pd.DataFrame(data=[[1,2],['a','b'],[3.7, 4.8]], index=[1,2,3],columns=['#1','#2'])
df1

    #1   #2
1    1    2
2    a    b
3  3.7  4.8

In [31]:
df4 = pd.DataFrame({'#1': [1, 3, 5], '#2': [2.5, 6.7, 8.1]}, index = ['a', 'b', 'c'])
df4

   #1   #2
a   1  2.5
b   3  6.7
c   5  8.1

In [33]:
prest = pd.Series({'УУР': 1515, 'ЦПЭ': 735, 'ГАИ': 926, 'УУП': 468})
stat = pd.Series({'УУР': 225, 'ЦПЭ': 60, 'ГАИ': 134, 'УУП': 322})

data = pd.DataFrame({'Prest':prest,'Stat':stat})
data

     Prest  Stat
УУР   1515   225
ЦПЭ    735    60
ГАИ    926   134
УУП    468   322

In [35]:
data.Prest

УУР    1515
ЦПЭ     735
ГАИ     926
УУП     468
Name: Prest, dtype: int64